@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(17, 90, 90);
    display: flex;
    align-items: center;
    height: 65px;
}

main {
    min-height: calc(100vh - 65px -22px);
}

footer {
    background-color: #575757;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    height: 22px;
}

nav ul {
    display: flex;
    /* border: 2px solid red; */
    width: 85vw;
    justify-content: flex-end;
}

nav ul li {

    color: white;
    list-style: none;
    padding: 0px 10px;
    align-self: flex-end;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

nav ul li:hover {
    font-weight: bold;
    cursor: pointer;
}

.container {
    display: flex;
    min-height: calc(100vh - 87px);
}

.left-box {
    width: 50vw;
    /* background-color: #6e95eb; */
    min-height: calc(100vh - 87px);
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/02/19/animal-1866808_960_720.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.right-box {
    width: 50vw;
    /* background-color: #dd8e8e; */
    min-height: calc(100vh - 87px);
    background-image: url(https://cdn.pixabay.com/photo/2017/08/29/18/25/coral-2694453_960_720.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.left-box:hover{
    filter: blur(5px);
}

.right-box:hover{
    filter: blur(5px);
}
